/**
* Multi Selection Bar:
* `.c-multi-selection-bar` sınıfı ile kullanılır.
*
* @example
* <div class="c-multi-selection-bar">
*    <div class="c-multi-selection-bar__selections col-xs-5">
*      <i class="icon__n icon__n--radio_button_checked"></i>
*      <strong>2</strong> <span class="hidden-sm-down">kayıt seçildi. <a href="#">Tümünü Seç</a></span>
*      <span class="c-multi-selection-bar__rows hidden-sm-down">(297 Kayıt)</span>
*    </div><!-- /.c-multi-selection-bar__selections -->
*
*    <div class="c-multi-selection-bar__actions">
*      <ul>
*        <li><a href="#" class="active" title="Kopyala"><i class="icon__n icon__n--layers"></i></a></li>
*        <li><a href="#" title="Gizle"><i class="icon__n icon__n--visibility"></i></a></li>
*        <li><a href="#" title="Göster"><i class="icon__n icon__n--visibility_off"></i></a></li>
*        <li><a href="#" title="Arşivle"><i class="icon__n icon__n--archive"></i></a></li>
*        <li><a href="#" title="Sil"><i class="icon__n icon__n--delete"></i></a></li>
*      </ul>
*    </div>
*    <div class="c-multi-selection-bar__cancel">
*      <span>Seçimleri <a href="#">iptal et</a></span>
*      <a href="#" class="c-multi-selection-bar__close"><i class="icon__n icon__n--close"></i></a>
*    </div>
* </div>
*/

// Variables
$c-multi-selection-bar: ( bg-color: #fffef3, border-color: #dcdce5, total-rows-color: #9d9d9d, close-button-color: #bdbdbd, action-item-color: #3a2e39, action-item-hover-color: #bdbdbd, );
$c-multi-selection-bar: map-merge($c-multi-selection-bar, getSettingsMap("c-multi-selection-bar"));
$c-map: $c-multi-selection-bar;
// Component
.c-multi-selection-bar {
    display: none;
    padding: 0 30px;
    height: 50px;
    background-color: map-get($c-map, "bg-color");
    border: 1px solid map-get($c-map, "border-color");
    border-width: 1px 0;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .08);
    a {
        font-weight: bold;
        text-decoration: underline;
        color: #3a2e39;
    }
    @include mobile-lg(portrait) {
        padding: 0 15px;
    }
    &--active {
        display: block;
    }
}

.c-multi-selection-bar--inside-view {
    background: #F7F7F8;
    border: none;
}

.c-multi-selection-bar__selections {
    margin-top: 14px;
    .icon__n--radio_button_checked {
        margin-top: -1px;
        font-size: 24px;
        vertical-align: middle;
    }
    .c-multi-selection-bar__rows {
        font-style: italic;
        color: map-get($c-map, "total-rows-color");
    }
}

.c-multi-selection-bar__actions {
    margin-top: 9px;
    ul {
        font-size: 0;
        list-style: none;
        text-align: center;
    }
    li {
        display: inline-block;
        font-size: 24px;
        margin-right: 20px;
        &:last-child {
            margin-right: 0
        }
    }
    a {
        color: map-get($c-map, "action-item-hover-color");
        &:hover {
            color: map-get($c-map, "action-item-color")
        }
    }
}

.c-multi-selection-bar__cancel {
    margin-top: 12px;
    text-align: right;
    span,
    .c-multi-selection-bar__close {
        display: inline-block;
        margin-top: -10px;
    }
}

.c-multi-selection-bar__close {
    position: relative;
    top: 8px;
    margin-left: 18px;
    font-size: 24px;
    i {
        color: map-get($c-map, "close-button-color");
    }
}
