

$or-boxoffice: ();
.or-boxoffice {
    .c-collapsible-container__aside-footer {
        position: absolute;
        width: 100%;
        bottom: 0;
    }
}

.or-boxoffice {
    [ng-reflect-is-loading="true"] {
        &:after {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: rgba(255, 255, 255, 0.7);
            animation: getAnimation(zoom-in) 1s ease;
            z-index: 9999999
        }
        &:before {
            content: "";
            position: absolute;
            width: 48px;
            height: 48px;
            background-image: url('/assets/images/temp/content-loader.svg');
            transform: translate(-50%, -50%);
            left: 50%;
            top: 50%;
            z-index: 19999999;
            border-radius: 50%;
        }
    }
    .c-collapsible-container__content {
        .p-container {
            padding: 0 !important;
        }
    }
    .c-split-container__fluid {
        .p-container {
            padding: 30px !important;
        }
    }
    .o-collapsible-container__content {
        vertical-align: top;
        height: calc(100vh - 70px);
        .c-collapsible-container__content .p-container {
            padding-top: 0px;
        }
    }
    &__header {
        padding: 25px 30px;
        background-color: #f7f7f7;
        border-bottom: 1px solid #dcdce5;
        color: #3a2e39;
        h1 {
            margin-bottom: 15px !important;
            @include ffamily("regular");
            font-size: 22px;
        }
        p {
            @include ffamily("regular");
            font-size: 15px;
            span {
                @include ffamily("bold");
            }
        }
        &-bar {
            margin: 30px 0 -26px -30px;
        }
    }
    &__content-action-bar {
        padding: 20px 30px 0;
        .c-selectbox {
            display: block;
        }
    }
    &__row-wrapper {
        padding: 18px 30px;
        h3,
        h2 {
            margin: 0 0 18px 0 !important;
            @include ffamily("semi");
            font-size: 16px;
            color: #333;
        }
        h2 {
            padding: 0 0 20px;
        }
    }
    .o-collapsible-container__aside,
    .o-collapsible-container__toggle-btn {
        background-color: #fff;
    }
    .o-collapsible-sidebar {
        margin: 0;
    }
    .o-collapsible-sidebar__group {
        .c-narrow-client-display {
            padding-top: 0;
            margin: -12px -20px 0;
            border-bottom: 1px solid #dcdce5;
            &.c-narrow-client-display--filled {
                padding-top: 24px;
                margin-top: -30px;
            }
        }
        .c-narrow-inline-feedback__side {
            .c-narrow-inline-feedback__content-title {
                @include ffamily("bold",
                "i");
            }
            .c-narrow-inline-feedback__content-text a {
                color: #35383d;
                text-decoration: underline;
            }
        }
    }
    &__other-information {
        padding: 20px;
        background-color: #f7f7f7;
        border: 1px solid #dcdce5;
        border-radius: 3px;
        ul {
            padding-left: 25px;
            list-style: none;
        }
        li {
            position: relative;
            padding: 1px 0;
            @include ffamily("regular");
            font-size: 13px;
            color: #3a2e39;
            &:after {
                content: "";
                position: absolute;
                top: 9px;
                left: -15px;
                @include t--size(5px);
                border-radius: 50%;
                background-color: #bdbdbd;
            }
        }
    }
    .o-reservation-code-modal {
        .c-dialog-box__header-title {
            padding-right: 40px;
            font-size: 16px;
        }
        .p-group__list-item-label {
            @include ffamily("regular");
        }
    }
}