

/**
* narrow-col-action-offer:
* `.c-narrow-col-action-offer` sınıfı ile oluşturulur.
*
* @example
* <div class="c-narrow-col-action-offer">
*   <i class="c-narrow-col-action-offer__icon icon__n icon__n--announcement"></i>
*   <p><i>Italic text.</i> <b>Bold text.</b></p>
*   <a href="#" class="c-narrow-col-action-offer__cta-action">Call to Action Link</a>
* </div><!-- /.c-call-to-action-box -->
*/


 // Set Defaults
 $c-narrow-col-action-offer: (
   box-padding: 20px,
   box-border-radius: 2px,
   box-font-size: 13px,
   box-line-height: 18px,
   box-centered-font-size: 12px,
   box-icon-size: 24px,
   box-large-icon-size: 44px,
   box-title-color: #3a2e38,
   box-title-size: 15px,
   box-sub-title-color: #b1b1b1,
   box-sub-title-size: 11px,
   do_not_disturb-color: #ef494b,
   themes: (
    dark: (
       box-bg: #35383d,
       box-border-size: 0,
       box-border-color: #dcdce4,
       box-text-color: #fff,
       box-icon-color: #fff,
       box-action-link-color: #fff,
    ),
    light: (
      box-bg: #fff,
      box-border-size: 1px,
      box-border-color: #dcdce4,
      box-text-color: #35383d,
      box-icon-color: #bdbdbd,
      box-action-link-color: #21242b,
    )
   )
 );

 // Merge settings and defaults
 $c-narrow-col-action-offer: map-merge($c-narrow-col-action-offer, getSettingsMap("c-narrow-col-action-offer"));

 // Set shortcuts
 $themes: map-get($c-narrow-col-action-offer, themes);
 $selected-theme: map-get($themes, dark);
 $c-map: $c-narrow-col-action-offer;


.c-narrow-col-action-offer {
  padding: map-get($c-map, box-padding);
  background-color: map-get($selected-theme, box-bg);
  color: map-get($selected-theme, box-text-color);
  border: map-get($selected-theme, box-border-size) solid map-get($selected-theme, box-border-color);
  border-radius: map-get($c-map, box-border-radius);
  @include ffamily("regular");
  font-size: map-get($c-map, box-font-size);
  .c-narrow-col-action-offer__content {
    line-height: map-get($c-map, box-line-height);
    i { @include ffamily("light", "i"); }
    b { @include ffamily("semi"); }
  }
  .c-narrow-col-action-offer__icon {
    margin-bottom: 15px;
    font-size: map-get($c-map, box-icon-size);
    color: map-get($selected-theme, box-icon-color);
    &.icon__n--do_not_disturb {
      color: map-get($c-map, do_not_disturb-color);
      transform: scaleX(-1);
      -moz-transform: scaleX(-1);
      -webkit-transform: scaleX(-1);
      -ms-transform: scaleX(-1);
    }
  }
  .c-narrow-col-action-offer__title {
    display: inline-block;
    margin-bottom: 15px;
    @include ffamily("semi");
    font-size: map-get($c-map, box-title-size);
    color: map-get($c-map, box-title-color);
  }
  .c-narrow-col-action-offer__sub-title {
    display: inline-block;
    margin: 12px 0 8px;
    @include ffamily("semi");
    font-size: map-get($c-map, box-sub-title-size);
    color: map-get($c-map, box-sub-title-color);
    text-transform: uppercase;
  }
  .c-narrow-col-action-offer__action-link {
    display: inline-block;
    margin-top: 30px;
    @include ffamily("semi");
    color: map-get($selected-theme, box-action-link-color) !important;
    text-transform: uppercase;
  }
  .c-narrow-col-action-offer__action-button {
    margin-top: 36px;
  }
  &--centered {
    font-size: map-get($c-map, box-centered-font-size);
    text-align: center;
    .c-narrow-col-action-offer__icon {
      //display: block;
      margin-bottom: 5px;
      font-size: map-get($c-map, box-large-icon-size);
      color: map-get($c-map, box-icon-color);
    }
  }
  &--light { // Light Theme
    $selected-theme: map-get($themes, light);
    background-color: map-get($selected-theme, box-bg);
    color: map-get($selected-theme, box-text-color);
    border: map-get($selected-theme, box-border-size) solid map-get($selected-theme, box-border-color);
    .c-narrow-col-action-offer__icon {
      color: map-get($selected-theme, box-icon-color);
    }
    .c-narrow-col-action-offer__action-link {
      color: map-get($selected-theme, box-action-link-color) !important;
    }
  }
}


//Reset
$themes: null;
$selected-theme: null;
$c-map: null;
