

/***
* Narrow Inline Feedback Component:
*/


/**
* Narrow Inline Feedback:
* `.c-narrow-inline-feedback - Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque repellat autem deleniti odit repellendus temporibus placeat ipsa similique, neces
*
*     @example

*/

// Set defaults
$c-narrow-inline-feedback: ( padding: 0, text-align: center, count-border: 1px solid #e4e4eb, count-margin:0 auto 20px auto, icon-color: #bdbdbd, icon-font-size: 44px, value-padding: 0 0 0 2px, value-bg-color: #bdbdbd, value-font-size: 26px, value-line-height: 4.4rem, value-color: #fff, content-margin: 0 0 20px 0, content-color: #35383d, content-title-font-size: 15px, content-title-line-height: 22px, content-text-font-size: 13px, content-text-line-height: 21px);
// Merge settings and defaults
$c-narrow-inline-feedback: map-merge($c-narrow-inline-feedback, getSettingsMap("c-narrow-inline-feedback"));
// Set shortcuts
$c-map: $c-narrow-inline-feedback;
.c-narrow-inline-feedback {
    display: block;
    box-sizing: border-box;
    padding: map-get($c-map, "padding");
    text-align: map-get($c-map, "text-align");
    &__count {
        position: relative;
        margin: map-get($c-map, "count-margin");
        @include t--size(100px, 100px);
        border: map-get($c-map, "count-border");
        text-align: center;
        border-radius: 50%;
        .icon__n {
            position: relative;
            top: 50%;
            @include t--translateY(-50%);
            font-size: map-get($c-map, "icon-font-size");
            color: map-get($c-map, "icon-color");
        }
        &__value {
            position: absolute;
            bottom: -3px;
            right: -18px;
            display: block;
            padding: map-get($c-map, "value-padding");
            @include t--size(52px);
            background-color: map-get($c-map, "value-bg-color");
            border-radius: 50%;
            font-size: map-get($c-map, "value-font-size");
            line-height: map-get($c-map, "value-line-height");
            @include ffamily("bold");
            color: map-get($c-map, "value-color");
            text-align: center;
        }
    }
    &__content-title {
        font-size: map-get($c-map, "content-title-font-size");
        line-height: map-get($c-map, "content-title-line-height");
        @include ffamily("bold", "i");
        color: map-get($c-map, "content-color");
    }
    &__content-text {
        margin: map-get($c-map, "content-margin");
        font-size: map-get($c-map, "content-text-font-size");
        line-height: map-get($c-map, "content-text-line-height");
        @include ffamily("regular");
        color: map-get($c-map, "content-color");
        a {
            text-decoration: underline;
            color: #35383d;
        }
    }
    &__side {
        .c-narrow-inline-feedback__count {
            border: none;
            border-radius: 0;
            height: auto;
            margin-bottom: 16px;
            .icon__n {
                top: 16px;
                font-size: 103px;
            }
        }
        .c-narrow-inline-feedback__value {
            bottom: -4px;
            right: -12px;
        }
        .c-narrow-inline-feedback__content-title {
            font-size: 13px;
            line-height: 22px;
            @include ffamily("bold", "i");
        }
    }
}