


/**
 * Container Canvas:
 * `.c-container-canvas` sınıfı ile oluşturulur.
 *
 * @example
 * <div class="c-container-canvas">
 *   Canvas İçeriği
 * </div><!-- /.c-container-canvas -->
 */

// Set Defaults
$c-container-canvas: ( 
    canvas-bg: #f7f7f7, 
    canvas-border: #dcdce5, 
    canvas-radius: 2px, 
    canvas-padding: 20px, 
    canvas-text-align:center, 
    split-padding: 15px 20px, 
    border-style: dashed,

    empty: (
        padding: 10px 20px
    ),
    footer: (
        padding: 20px
    ),
    header: (
        padding: 20px
    )
);
// Merge settings and defaults
$c-container-canvas: map-merge($c-container-canvas, getSettingsMap("c-container-canvas"));
// Set shortcuts
$c-map: $c-container-canvas;
.c-container-canvas {
    display: block;
    background-color: map-get($c-map, canvas-bg);
    border: 1px solid map-get($c-map, canvas-border);
    border-radius: map-get($c-map, canvas-radius);
    padding: map-get($c-map, canvas-padding);
    text-align: map-get($c-map, canvas-text-align);

    &--dashed-border {
        border-style: map-get($c-map, border-style);
    }

    &--empty {
        border-style: map-get($c-map, border-style);
        padding: map-deep-get($c-map, empty, padding);
    }

    & + .c-container-canvas {
        border-radius: 0px 0px map-get($c-map, canvas-radius) map-get($c-map, canvas-radius);
        padding: map-deep-get($c-map, footer, padding);
        margin-top: map-get($c-map, canvas-radius)*-1;
    }

    &--footer {
        border-radius: 0px 0px map-get($c-map, canvas-radius) map-get($c-map, canvas-radius);
        padding: map-deep-get($c-map, footer, padding);
        margin-top: map-get($c-map, canvas-radius)*-1;
    }

    &--header {
        border-radius: map-get($c-map, canvas-radius) map-get($c-map, container-radius) 0px 0px;
        padding: map-deep-get($c-map, header, padding);
        margin-bottom: map-get($c-map, canvas-radius)*-1;
    }

    .p-group__list {
        text-align: right;
    }
    .p-group__list-item {
        display: inline-block;
        width: auto;
        &-label,
        &-input {
            display: inline-block;
        }
        &-label {
            @include ffamily('semi');
            font-size: 14px;
            vertical-align: middle;
            margin-right: 10px
        }
    }    
   
    &--split-view {
        padding: map-get($c-map, split-padding);
        border-top: 1px solid map-get($c-map, canvas-border);
        border-style: map-get($c-map, border-style);
        border-bottom: none;
        border-left: none;
        border-right: none;
        margin-top: 80px;
        .p-group__list {
            text-align: right;
        }
        .p-group__list-item {
            display: inline-block;
            width: auto;
            &-label,
            &-input {
                display: inline-block;
            }
            &-label {
                @include ffamily('semi');
                font-size: 14px;
                vertical-align: middle;
                margin-right: 10px
            }
        }
    }
}