$c-tether-dialog: (
  z-index: map-get($z-index, tether-dialog),
  ease: getEase(out-sine)
);

// Merge settings and defaults
$c-tether-dialog: map-merge($c-tether-dialog, getSettingsMap("c-tether-dialog"));

// Set shortcuts
$c-map: $c-tether-dialog;

.c-tether-dialog {

  position: fixed;
  z-index: map-get($c-map, z-index);
  top: 0;
  right: 0;
  left: 0;
  font-size: 0px;

  &--on {
    height: 100vh;
  }

  &__content {
    z-index: map-get($c-map, z-index) + 1;
    max-height: 100vh;

    & > * {
      display: block;
    }

    &--half {
      width: 50vw;
      height: 50vh;
    }
    &--quarter {
      width:35vw;
      height:50vh
    }

    @include animation(getAnimation(fade-in, 0.2s map-get($c-map, ease)));
  }

  &__overlay {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.65);
    @include animation(getAnimation(fade-in, 0.4s map-get($c-map, ease)));
  }

}

//Reset
$c-map: null;
$selected-size: null;
