// Set defaults
$c-product-price-block: ( 
    container: (
        padding: 30px,
        background-color: #F5F5F5
    ),
    content: ( 
        placeholder: ( 
            space: 20px, 
            group: ( 
                margin-bottom: 40px, 
                header: ( 
                    border-color: #dcdce5, 
                    title: ( 
                        color: #35383d, font-size: 15px
                    )
                ), 
                item: ( 
                    margin-bottom: 20px, 
                ),
                wings: (
                    border-color: #dcdce5,
                )
            ), 
            form-group: ( 
                title: ( 
                    color: #939393, font-size: 11px
                )
            ),
            label: (
                font-size: 13px,
                color: #333333
            )
        )
    ),

    variant: (
        border-color: #dcdce5,
        active-color: #35383d,
        color: #939393,

        header: (
            padding: 15px,
            background-color: #fff,
            icon: (
                font-size: 24px,
                color: #35383d
            ),
            title: (
                font-size: 13px,
                color: #35383d
            ),
            price: (
                font-size: 20px,
                color: #939393
            )
        ),
        content: (
            background-color: #F5F6F9,
            padding: 20px
        ),
        list: (
            item: (
                padding: 15px,
                background-color: #fff,

                title: (
                    font-size: 13px,
                    color:  #35383d
                ),
                price: (
                    font-size: 20px,
                    color: #35383d
                )
            )
        )
    )
);
// Merge settings and defaults
$c-product-price-block: map-merge($c-product-price-block, getSettingsMap("c-product-price-block"));
$c-map: $c-product-price-block;
$content: map-get($c-map, content);
$aside: map-get($c-map, aside);
.c-product-price-block {
    position: relative;
    display: block;
    width: 100%;

    &__container {
        display: block;
        background-color: map-deep-get($c-map, container, background-color);
        width: 100%;
        padding: map-deep-get($c-map, container, padding);
    }
    
    &__content {
        display: block;
        position: relative;
        max-width: 560px;
        margin: auto;

        .p-group {
            &+.p-group,
            &+.p-form-group {
                margin-top: map-deep-get($content, placeholder, space)*2;
            }
            &__header {
                display: block;
                padding-bottom: map-deep-get($content, placeholder, space);

                &-bar {
                    display: table;
                    width: 100%;
                }
                &-title {
                    display: table-cell;
                    vertical-align: bottom;
                    width: 100%;
                    @include ffamily('semi');
                    font-size: map-deep-get($content, placeholder, group, header, title, font-size);
                    line-height: 1em;
                    color: map-deep-get($content, placeholder, group, header, title, color);
                }
                &-action {
                    display: table-cell;
                    vertical-align: bottom;
                    line-height: 1em;
                    white-space: nowrap;
                }
            }
            &__item {
                
                &--disabled {
                    opacity: 0.7;
                    cursor: not-allowed;
                    > * {
                        pointer-events: none;
                    }
                }

                &+.p-group__item,
                &+.p-group__list {
                    margin-top: map-deep-get($content, placeholder, space)*1.25;
                }
            }
        }
        .p-form-group {
            &+.p-group {
                margin-top: map-deep-get($c-map, content, placeholder, space)*2;
            }
            &+.p-form-group {
                margin-top: map-deep-get($c-map, content, placeholder, space);
            }
            &__label {
                display: inline-block;
                width: 100%;
                margin-bottom: map-deep-get($c-map, content, placeholder, space)*0.25;
                @include ffamily('semi');
                font-size: map-deep-get($c-map, content, placeholder, form-group, title, font-size);
                line-height: 1em;
                color: map-deep-get($c-map, content, placeholder, form-group, title, color);
                min-height: 1em;
            }
            &__input {
                display: inline-block;
                width: 100%;
                >input {
                    width: 100%;
                    min-height: 36px;
                }
                >textarea {
                    width: 100%;
                }
            }
        }
        .p-label {
            @include ffamily('semi');
            font-size: map-deep-get($c-map, content, placeholder, label, font-size);
            color: map-deep-get($c-map, content, placeholder, label, color);
            line-height: 30px;
            vertical-align: middle;
        }

        .c-container-canvas {
            background-color: map-deep-get($c-map, variant, content, background-color);
        }
    }

    &__variant {
        display: block;
        position: relative;
        width: 100%;
        border: solid 1px map-deep-get($c-map, variant, border-color);

        &-header {
            display: table;
            width: 100%;
            background-color: map-deep-get($c-map, variant, header, background-color);
            padding: map-deep-get($c-map, variant, header, padding);
            border-bottom: solid 1px map-deep-get($c-map, variant, border-color);

            &-icon {
                display: table-cell;
                vertical-align: middle;
                font-size: map-deep-get($c-map, variant, header, icon, font-size);
                color: map-deep-get($c-map, variant, header, icon, color);
                white-space: nowrap;
                padding-right: 0.25em;
            }

            &-title {
                display: table-cell;
                vertical-align: middle;
                width: 100%;
                @include ffamily('regular');
                font-size: map-deep-get($c-map, variant, header, title, font-size);
                color: map-deep-get($c-map, variant, header, title, color);
                line-height: 1em;
                padding-right: 1em;
            }

            &-price {
                display: table-cell;
                vertical-align: middle;
                white-space: nowrap;
                @include ffamily('semi');
                font-size: map-deep-get($c-map, variant, header, price, font-size);
                color: map-deep-get($c-map, variant, color);

                &--active {
                    color: map-deep-get($c-map, variant, active-color);
                }
            }

            &-context {
                display: table-cell;
                vertical-align: middle;
                white-space: nowrap;
            }
        }

        &-content {
            display: block;
            position: relative;
            background-color: map-deep-get($c-map, variant, content, background-color);
            padding: map-deep-get($c-map, variant, content, padding);
        }

        &-list {
            display: block;
            position: relative;
            list-style-type: none;
            padding-left: map-deep-get($c-map, variant, content, padding);

            &:before {
                content: "";
                display: block;
                position: absolute;
                top: 0px;
                left: 1px;
                transform: translateY(#{map-deep-get($c-map, variant, content, padding)*-1});
                border-left: solid 1px map-deep-get($c-map, variant, border-color);
                height: map-deep-get($c-map, variant, content, padding) + 1px;
            }

            &-item {
                display: table;
                position: relative;
                width: 100%;
                background-color: map-deep-get($c-map, variant, list, item, background-color);
                border: solid 1px map-deep-get($c-map, variant, border-color);
                padding: map-deep-get($c-map, variant, list, item, padding);

                & + .c-product-price-block__variant-list-item {
                    margin-top: map-deep-get($c-map, variant, content, padding)/4;
                    &:after {
                        height: calc(100% + #{map-deep-get($c-map, variant, content, padding)/4 + 2px});
                        transform: translateX(#{map-deep-get($c-map, variant, content, padding)*-1}) translateY(#{map-deep-get($c-map, variant, content, padding)/-4 - 2px});
                    }
                    &:last-child {
                        &:after {
                            height: calc(50% + #{map-deep-get($c-map, variant, content, padding)/4 + 2px}); 
                        }
                    }
                }

                &:before {
                    content: "";
                    position: absolute;
                    left: 0px;
                    top: 50%;
                    width: map-deep-get($c-map, variant, content, padding);
                    transform: translateX(#{map-deep-get($c-map, variant, content, padding)*-1}) translateY(-50%);
                    border-top: solid 1px map-deep-get($c-map, variant, border-color);
                }

                &:after {
                    content: "";
                    position: absolute;
                    left: 0px;
                    top: 0px;
                    height: 100%;
                    transform: translateX(#{map-deep-get($c-map, variant, content, padding)*-1});
                    border-left: solid 1px map-deep-get($c-map, variant, border-color);
                }

                &:last-child {
                    &:after {
                        height: 50%;
                    }
                } 

                &--new {
                    border-style: dashed;
                    background-color: map-deep-get($c-map, container, background-color);
                    @include ffamily('bold');
                    font-size: map-deep-get($c-map, variant, list, item, title, font-size) - 2px;
                }

                 &-title {
                    display: table-cell;
                    vertical-align: middle;
                    width: 100%;
                    @include ffamily('semi');
                    font-size: map-deep-get($c-map, variant, list, item, title, font-size);
                    color: map-deep-get($c-map, variant, list, item, title, color);
                    line-height: 1em;
                    padding-right: 1em;
                }

                &-price {
                    display: table-cell;
                    vertical-align: middle;
                    white-space: nowrap;
                    @include ffamily('semi');
                    font-size: map-deep-get($c-map, variant, list, item, price, font-size);
                    color: map-deep-get($c-map, variant, active-color);
                }

                &-context {
                    vertical-align: middle;
                    display: table-cell;
                    white-space: nowrap;
                }

                &-icon {
                    font-size: 28px;
                    vertical-align: middle;
                    line-height: 0px;
                }
            }
        }
    }

}