<div class="theme-section">

    <div class="preview-card">
      <div class="preview-card__header">
        <h3>square-checkbox</h3>
      </div>

      <div class="preview-card__content">
        <label class="c-square-checkbox">
          <input type="checkbox">
          <span class="c-square-checkbox__indicator"></span>
          <span class="c-square-checkbox__label">Class name c-square-checbox olup theme, size ve align modifierları vardır</span>
        </label>
      </div>

    </div>

    <div class="preview-card">
      <div class="preview-card__header">
        <h3>square-checkbox disabled</h3>
      </div>

      <div class="preview-card__content">
        <label class="c-square-checkbox">
          <input disabled type="checkbox">
          <span class="c-square-checkbox__indicator"></span>
          <span class="c-square-checkbox__label">Class name c-square-checbox olup theme, size ve align modifierları vardır</span>
        </label>
      </div>

    </div>

  </div>

  <div class="theme-section theme-section--dark">

    <div class="preview-card">
      <div class="preview-card__header">
        <h3>square--checkbox--dark</h3>
      </div>

      <div class="preview-card__content">
        <label class="c-square-checkbox c-square-checkbox--dark">
          <input type="checkbox">
          <span class="c-square-checkbox__indicator"></span>
          <span class="c-square-checkbox__label">Class name c-square-checbox olup theme, size ve align modifierları vardır</span>
        </label>
      </div>

    </div>

    <div class="preview-card">
      <div class="preview-card__header">
        <h3>square--checkbox--dark disabled</h3>
      </div>

      <div class="preview-card__content">
        <label class="c-square-checkbox c-square-checkbox--dark">
          <input disabled type="checkbox">
          <span class="c-square-checkbox__indicator"></span>
          <span class="c-square-checkbox__label">Class name c-square-checbox olup theme, size ve align modifierları vardır</span>
        </label>
      </div>

    </div>

  </div>