$c-md-editor: ( postition: relative, display: block, );
$c-md-editor: map-merge($c-md-editor, getSettingsMap("c-md-editor"));
$c-map: $c-md-editor;
.c-md-editor {
    position: map-get($c-map, position);
    display: map-get($c-map, display);
    &--disabled {
        cursor: not-allowed;
        opacity: 0.5;
        * {
            pointer-events: none;
            user-select: none;
        }
    }
    &--focused {
        
    }
    .CodeMirror {
        min-height: 200px;
    }
    .CodeMirror-scroll {
        min-height: 200px;
    }
    .editor-toolbar {
        opacity: 1;
        border-color: #ddd !important;
        a {
            height: auto;
            border: none !important;
            vertical-align: middle;
        }
        a:hover,
        a.active {
            background: inherit;
            border-color: inherit;
            color: #73BBF6 !important;
            border: none !important;
        }
        a:before {
            line-height: inherit !important;
        }
        .icon__n {
            font-size: 16px;
        }
    }
}