.clear-border {
    &--top {
        border-top:inherit !important;
    }
    &--left {
        border-left:inherit !important;
    }
    &--bottom {
        border-bottom:inherit !important;
    }
    &--right {
        border-right:inherit !important;
    }
    &--all {
        border:inherit !important;
    }
}