$c-text-input-with-select: ( 
    height: 36px,
    font-size: 15px, 
    color: #C2C2C2,
    active-color: #21242b, 
    border-color: #dcdce5, 
    active-border-color: #2096F3, 
    error-border-color: #ec4e48, 
    border-radius: 2px,
    select: (
        color: #21242b,
        background-color: #F5F5F5,
        padding: 0.75em,
        font-size: 0.5em
    )
);
// Merge settings and defaults
$c-text-input-with-select: map-merge($c-text-input-with-select, getSettingsMap("c-text-input-with-select"));
// Set shortcuts
$c-map: $c-text-input-with-select;

.c-text-input-with-select {
    display: inline-block;
    width: 100%;
    line-height: 0px;
    
    &__bar {
        display: table;
        width: 100%;
        white-space: nowrap;
        line-height: 0px;
    }

    &__select {
        display: table-cell;
        width: 60px;
        .c-selectbox {
            background-color: map-deep-get($c-map, select, background-color);
            border-right: none;
            border-top-left-radius: map-deep-get($c-map, border-radius);
            border-bottom-left-radius: map-deep-get($c-map, border-radius);
            border-top-right-radius: 0px;
            border-bottom-right-radius: 0px;
            height: map-deep-get($c-map, height);
            min-width: 60px;
            &__field select {
                font-size: map-deep-get($c-map, select, font-size);
                color: map-deep-get($c-map, select, color);
                padding-left: map-deep-get($c-map, select, padding);
                padding-right: map-deep-get($c-map, select, padding);
            }
        }
    }

    &__input {
        display: table-cell;
        .c-text-input {
            height: map-deep-get($c-map, height);
            &__bar {
                border-top-left-radius: 0px;
                border-bottom-left-radius: 0px;
            }
        }
    }
    
   
}

$c-text-input-with-select: null;
$c-map:null;
