.c-mock-box {
	display: inline-block;
	width: 100%;
	height: auto;
	min-height: 36px;
	min-width: 60px;

	padding: 1em 1.5em 0.75em;
	background-color: #f7f7f7;
	color: #3d3d3d;

	h1 {
			font-size: 22px;
	}
	p {
			font-size: 14px;
	}

	&--small {
		h1 {
			font-size: 14px;
		}
		p {
			margin-top: 5px;
			font-size: 11px;
		}
	}
}