<div class="c-mock-box">
	<h1>Buraya <strong>c-***</strong> komponenti gelecek</h1>
	<p>Açıklama</p>
</div>

<div class="c-mock-box c-mock-box--small">
	<h1>Buraya <strong>c-***</strong> komponenti gelecek</h1>
	<p>Açıklama</p>
</div>