
// Heading Alanı Genel Değişkenleri




h1 {
}

h2 {
	// margin-bottom: 15px;
	// padding: 25px 30px;
	// @include t--font-size(24px);
	// @include ffamily(light);
	// border-bottom: 1px solid #e0e0e0;
}

h3 {
	// örn: font-size:30px ve ya mixin var is @include font-size(deger) şeklinde kullanılabilinir.
}

h4 {
	// örn: font-size:30px ve ya mixin var is @include font-size(deger) şeklinde kullanılabilinir.
}

h5 {
	// örn: font-size:30px ve ya mixin var is @include font-size(deger) şeklinde kullanılabilinir.
}

h6 {
	// örn: font-size:30px ve ya mixin var is @include font-size(deger) şeklinde kullanılabilinir.
}

b, strong {
	@include ffamily(bold);
}