.or-venue-template-create {
    display: block;
    position: absolute;
    left: 0px;
    top: 70px;
    height: calc(100% - 70px);

    .editor-container {
        position: absolute;
        top: 60px;
        left: 0px;
        width: 100%;
        height: calc(100% - 60px);

    }
    [ng-reflect-is-loading="true"] {
        &:after {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: rgba(255, 255, 255, 0.7);
            animation: getAnimation(zoom-in) 1s ease;
            z-index: 9999999
        }
        &:before {
            content: "";
            position: absolute;
            width: 48px;
            height: 48px;
            background-image: url('../../assets/images/temp/content-loader.svg');
            transform: translate(-50%, -50%);
            left: 50%;
            top: 50%;
            z-index: 19999999;
            border-radius: 50%;
        }
    }           
}