.or-venue {
    .c-collapsible-container__aside {
        padding-top: 15px;
    }
    .c-collapsible-container__aside .c-collapsible-container__aside-inner {
        position: relative;
        min-height: 180px;
    }
}