/***
* Pill Group Component:
*/

/**
* Pill Group:
* `.c-pill - Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque repellat autem deleniti odit repellendus temporibus placeat ipsa similique, neces
*
*     @example
*     <div class="c-pill-group">
*	    	<span class="c-pill tag tag-pill">
					TEXT
					<span class="c-pill__bagde tag tag-pill float-xs-right">0</span>
			</span>
*	   </div>

*     @example active
*     <div class="c-pill-group">
*	    	<span class="c-pill c-pill--active tag tag-pill">
					TEXT
					<span class="c-pill__bagde tag tag-pill float-xs-right">0</span>
			</span>
*	   </div>
*/


// Set defaults

$c-pill: (
	height: 32px,
	min-width: 60px,
	padding:5px 10px,
	margin:0 10px 0px 0px, 
	background-color: #fff,
	border:1px solid $color-ui-border,
	line-height:19px,
	font-size: 11px,
	text-color: #a6a6a6,
	active-color: #fff,
	pill-active: #21242b
);

// Merge settings and defaults
$c-pill: map-merge($c-pill, getSettingsMap("c-pill"));

// Set shortcuts
$c-map: $c-pill;


.c-pill-group {
	font-size:0;
	white-space:nowrap;
	.c-pill {
		margin: map-get($c-map, margin);
		&:last-child {
			margin: 0px;
		}
	}
}

.c-pill {
	min-width: map-get($c-map, min-width);
	height: map-get($c-map, height);
	border: map-get($c-map, border);
	padding: map-get($c-map, padding);
	background-color:map-get($c-map, background-color);
	box-sizing: border-box;
	@include t--border-radius(50px);
	line-height: map-get($c-map, line-height);
	@include ffamily(semi);
	color: map-get($c-map, text-color);
	font-size: map-get($c-map, font-size);
	text-align:center;
	cursor:pointer;
	.c-pill__bagde {
		position:relative;
		height: 100%;
		min-width: 36px;
		margin-left:12px;
		margin-right:-5px;
		background-color: map-get($c-map, background-color);
		border: none;
		@include ffamily(bold);
		font-size: map-get($c-map, font-size);
		line-height:12px;
		color: map-get($c-map, text-color);
	}
	&.c-pill--active, &:hover, &:focus {
		color: map-get($c-map, active-color);
		border-color: map-get($c-map, pill-active);
		background-color: map-get($c-map, pill-active);
		.c-pill__bagde {
			border: 1px solid map-get($c-map, pill-color);
			color: map-get($c-map, pill-active);
		}
	}
}
