

/**
 *<div class="c-container-rollover-actions">
 *  <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
 *      tempor incididunt ut labore et dolore magna aliqua.</p>
 *  <div class="c-container-rollover-actions__content">
 *    <ul>
 *      <li><a href="#">EDİT</a></li>
 *      <li><a href="#">DELETE</a></li>
 *    </ul>
 *  </div>
 *</div>
*/
$c-container-rollover-actions: (
  background-color: #35383d,
  text-color: #fff,
  border-color: #727478,
  horver-color: #2985ef
);

// Merge settings and defaults
$c-container-rollover-actions: map-merge($c-container-rollover-actions, getSettingsMap("c-container-rollover-actions"));

// Set shortcuts
$c-map: $c-container-rollover-actions;

.c-container-rollover-actions {
  width: 100%;
  height: 100%;
  float: left;
  position:relative;
  overflow: hidden;
  &__content {
    width: 100%;
    height: 100%;
    display: none;
    position: absolute;
    top: 0px;
    left: 0px;
    text-align: center;
    @include ffamily('OpenSansSemiBold');
    @include t--font-size(11px);
    color: map-get($c-map, "text-color");
    padding-left: 10%;
    padding-right: 10%;
    flex-direction: column;
    justify-content: center;
    resize: vertical;
    overflow: auto;
    ul {
      position: relative;
      li {
        list-style: none;
        padding-bottom: 5px;
        padding-top: 5px;
        border-bottom: 1px solid map-get($c-map, "border-color");
        &:hover {
          color: map-get($c-map, hover-color);
        }
        
        a {
          @include ffamily('OpenSansSemiBold');
          @include t--font-size(11px);
          color: map-get($c-map, "text-color");
          text-decoration: none;

          &:hover {
            color: map-get($c-map, hover-color);
          }
        }
        &:first-child{
          padding-top: 0px !important;
        }
        &:last-child {
          padding-bottom: 0px !important;
          border-bottom: none !important;
        }
      }
    }
  }
  &:hover .c-container-rollover-actions__content {
    overflow: visible;
    display: flex;
    margin: auto;
    opacity: 1;
    background-color:rgba(53,56,61,0.8);
  }
}

//Reset
$c-map: null;
