
$c-header-inline-edit: (
  font-size: 18px,

  input-bar: (
    color: #9d9d9d,
  ),

  breadcrumb: (
    color: #35383d,
    padding: 0.4em 0px, // inline-edit padding değerleri
    margin: 0.15em 0px 0.1em //input ile fonts-size farkını dengeler
  )
);

$c-header-inline-edit: map-merge($c-header-inline-edit, getSettingsMap("c-header-inline-edit"));
$c-map: $c-header-inline-edit;

.c-header-inline-edit {
  position: relative;
  display: block;
  line-height: 1em;
  width: 100%;
  font-size: map-get($c-map, font-size);
  @include ffamily("light");
  
  &__bar {
    display: table;
    width: 100%;
  }

  &__breadcrumb {
    display: table-cell;
    white-space: nowrap;
    vertical-align: middle;

    &-item {
      display: inline-block;
      padding: map-deep-get($c-map, breadcrumb, padding);
      //margin: map-deep-get($c-map, breadcrumb, margin);
      color: map-deep-get($c-map, breadcrumb, color);
      font-size: inherit;
      

      &:after {
        margin: 0px 5px;
        content: "/"
      }
    }
  }

  &__input-bar {
    display: table-cell;
    width: 100%;
    white-space: nowrap;
    vertical-align: middle;

    .c-inline-edit {
      @include ffamily("light");
      font-size: inherit;

      &__label-bar {
        color: map-deep-get($c-map, input-bar, color);
      }

      &__edit-button {
        color: map-deep-get($c-map, breadcrumb, color);
      }

      &__input-bar {
        
      }
    }
  }
}

$c-map: null;
