
/***
* Dialog Header Component:
*/

/**
* Modal Sub Heading:
* `.c-wizard-header - Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque repellat autem deleniti odit repellendus temporibus placeat ipsa similique, neces
*
*     @example
*			
*/


// Set defaults

$c-wizard-header: (
	width: 100%,
	padding: 0,
	margin: 0,
    border-color: #dcdce5,
    background-color: #f7f7f7,
    color: #333333,
    font-size: 13px,
    left: (
        width: 100px
    ),
    center: (
        width: 100%
    ),
    right: (
        width: 100px
    ),
    back-button: (
        color: #21242b,
        active-color: #392d38,
        size: 24px
    ),
    level-pill: (
        border-color: #dcdce5,
        background-color: #fff
    )
);

// Merge settings and defaults
$c-wizard-header: map-merge($c-wizard-header, getSettingsMap("c-wizard-header"));

// Set shortcuts
$c-map: $c-wizard-header;

.c-wizard-header {
	display: table;
    position: relative;
	width: map-get($c-map, width);
	padding: map-get($c-map, padding);
	margin: map-get($c-map, margin);
    font-size: map-get($c-map, font-size);
    color: map-get($c-map, color);
    background-color: map-get($c-map, background-color);
    border-top: 1px solid map-get($c-map, border-color);
    border-bottom: 1px solid map-get($c-map, border-color);
	
    &__left {
        display: table-cell;
        width: map-deep-get($c-map, left, width);
        text-align: left;
        vertical-align: middle;
        line-height: 1em;
        padding: 0px 1.325em;
    }

    &__center {
        display: table-cell;
        width: calc(#{map-deep-get($c-map, center, width)} - #{map-deep-get($c-map, left, width)} - #{map-deep-get($c-map, right, width)});
        text-align: center;
        vertical-align: middle;
        line-height: 1em;
        padding: 1.5em 1.325em 1.325em;
    }

    &__right {
        display: table-cell;
        width: map-deep-get($c-map, right, width);
        text-align: center;
        vertical-align: middle;
        line-height: 1em;
        padding: 0px 1.325em;
    }

    &__back-button {
        display:inline-block;
        font-size: map-deep-get($c-map, back-button, size);
        color: map-deep-get($c-map, back-button, color);
        &:hover, &:focus, &:active {color: map-deep-get($c-map, back-button, active-color);}
    }
    &__level-pill {
        background-color: map-deep-get($c-map, level-pill, background-color);
        border: 1px solid map-deep-get($c-map, level-pill, border-color);
        padding: 0.35em 1em;
    }

}

//Reset
$c-map: null;