<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title></title>
	<link rel="stylesheet" href="../../../css/main.css">
  <script src="../../../bower_components/jquery/dist/jquery.min.js"></script>
<style media="screen">
  .sample-container {
    margin: 100px;
    width: 240px;
  }
  .sample {
    margin-bottom: 50px;
    border: 1px solid #dcdbe5;
  }
</style>
</head>
<body>

<div class="sample-container">

  <div class="sample">
    <div class="c-narrow-client-display">
      <span class="c-avatar c-avatar--autosize c-avatar--circle" style="font-size: 60px !important;">
        <figure>
          <img src="http://lorempixel.com/600/400/people/9" alt="">
        </figure>
      </span>

      <a href="#" class="btn-secondary">Müşteri Bilgisi Ekle</a>
    </div><!-- /.c-narrow-client-display -->
  </div><!-- /.sample -->

  <div class="sample">
    <div class="c-narrow-client-display c-narrow-client-display--filled">
      <span class="c-avatar c-avatar--autosize c-avatar--circle" style="font-size: 60px !important;">
        <figure>
          <img src="http://lorempixel.com/600/400/people/9" alt="">
        </figure>
      </span>

      <span class="c-narrow-client-display__text c-narrow-client-display__name">Altuğ Canıtez</span>
      <span class="c-narrow-client-display__text c-narrow-client-display__phone">0532 6945959</span>
      <span class="c-narrow-client-display__text c-narrow-client-display__address">Beşiktaş, İstanbul</span>

      <div class="c-narrow-client-display__operations">
        <a href="#" class="c-narrow-client-display__edit"><i class="icon__n icon__n--edit"></i></a>
        <a href="#" class="c-narrow-client-display__delete"><i class="icon__n icon__n--delete"></i></a>
      </div><!-- /.c-narrow-client-display__operations -->
    </div><!-- /.c-narrow-client-display -->
  </div><!-- /.sample -->
</div><!-- /.sample-container -->


<div _ngcontent-caj-8="" class="sample-container">

  <div _ngcontent-caj-8="" class="sample">
    <div _ngcontent-caj-8="" class="c-narrow-client-display">
      <div _ngcontent-caj-8="" class="c-narrow-client-display__avatar">
        <app-avatar _ngcontent-caj-8="" icon="person" _nghost-caj-5="" ng-reflect-icon-name="person" class="c-avatar c-avatar--autosize c-avatar--circle c-avatar--has-icon"><!--template bindings={
  "ng-reflect-ng-if": "http://lorempixel.com/400/200/people/9/"
}--><figure _ngcontent-caj-5="">
	<img _ngcontent-caj-5="" alt="" ng-reflect-src="http://lorempixel.com/400/200/people/9/" src="http://lorempixel.com/400/200/people/9/">
</figure>
<!--template bindings={
  "ng-reflect-ng-if": "person"
}--><div _ngcontent-caj-5="" class="c-avatar__icon">
	<i _ngcontent-caj-5="" ng-reflect-class-name="icon__n icon__n--person" class="icon__n icon__n--person"></i>
</div>
<!--template bindings={
  "ng-reflect-ng-if": null
}--></app-avatar>
      </div>

      <a _ngcontent-caj-8="" class="btn-secondary" href="#" ng-reflect-href="#">Müşteri Bilgisi Ekle</a>
    </div>
  </div>

  <div _ngcontent-caj-8="" class="sample">
    <div _ngcontent-caj-8="" class="c-narrow-client-display c-narrow-client-display--filled">
      <div _ngcontent-caj-8="" class="c-narrow-client-display__avatar c-narrow-client-display__dropcap-avatar">
        <div _ngcontent-caj-8="" class="c-narrow-client-display__dropcap-avatar-inner">
          <app-avatar _ngcontent-caj-8="" letters="AC" _nghost-caj-5="" ng-reflect-letters="AC" class="c-avatar c-avatar--autosize c-avatar--circle c-avatar--has-letters"><!--template bindings={
  "ng-reflect-ng-if": "http://lorempixel.com/400/200/people/9/"
}--><figure _ngcontent-caj-5="">
	<img _ngcontent-caj-5="" alt="" ng-reflect-src="http://lorempixel.com/400/200/people/9/" src="http://lorempixel.com/400/200/people/9/">
</figure>
<!--template bindings={
  "ng-reflect-ng-if": null
}-->
<!--template bindings={
  "ng-reflect-ng-if": "AC"
}--><div _ngcontent-caj-5="" class="c-avatar__letters">
	<span _ngcontent-caj-5="">AC</span>
</div></app-avatar>
        </div>
        <div _ngcontent-caj-8="" class="c-narrow-client-display__avatar">
          <app-avatar _ngcontent-caj-8="" icon="person" _nghost-caj-5="" ng-reflect-icon-name="person" class="c-avatar c-avatar--autosize c-avatar--circle c-avatar--has-icon"><!--template bindings={
  "ng-reflect-ng-if": "http://lorempixel.com/400/200/people/9/"
}--><figure _ngcontent-caj-5="">
	<img _ngcontent-caj-5="" alt="" ng-reflect-src="http://lorempixel.com/400/200/people/9/" src="http://lorempixel.com/400/200/people/9/">
</figure>
<!--template bindings={
  "ng-reflect-ng-if": "person"
}--><div _ngcontent-caj-5="" class="c-avatar__icon">
	<i _ngcontent-caj-5="" ng-reflect-class-name="icon__n icon__n--person" class="icon__n icon__n--person"></i>
</div>
<!--template bindings={
  "ng-reflect-ng-if": null
}--></app-avatar>
        </div>
      </div>

      <span _ngcontent-caj-8="" class="c-narrow-client-display__text c-narrow-client-display__name">Altuğ Canıtez</span>
      <span _ngcontent-caj-8="" class="c-narrow-client-display__text c-narrow-client-display__phone">0532 6945959</span>
      <span _ngcontent-caj-8="" class="c-narrow-client-display__text c-narrow-client-display__address">Beşiktaş, İstanbul</span>

      <div _ngcontent-caj-8="" class="c-narrow-client-display__operations">
        <a _ngcontent-caj-8="" class="c-narrow-client-display__edit" href="#" ng-reflect-href="#"><i _ngcontent-caj-8="" class="icon__n icon__n--edit"></i></a>
        <a _ngcontent-caj-8="" class="c-narrow-client-display__delete" href="#" ng-reflect-href="#"><i _ngcontent-caj-8="" class="icon__n icon__n--delete"></i></a>
      </div>
    </div>
  </div>
</div>

</body>
</html>
