

 /**
 * narrow-col-status-feeback:
 * `.c-narrow-col-status-feeback` sınıfı ile oluşturulur.
 *
 * @example
* <div class="c-narrow-col-status-feeback">
*   <i class="c-narrow-col-status-feeback__icon icon__n icon__n--announcement"></i>
*   <p><i>Italic text.</i> <b>Bold text.</b></p>
*   <a href="#" class="c-narrow-col-status-feeback__cta-action">Call to Action Link</a>
* </div><!-- /.c-call-to-action-box -->
 */


 // Set Defaults
 $c-narrow-col-status-feeback: (
  box-padding: 20px,
  box-bg: #fff,
  box-border-size: 1px,
  box-border-color: #dcdce4,
  box-text-color: #35383d,
  box-border-radius: 2px,
  box-font-size: 12px,
  box-line-height: 18px,
  box-action-link-color: #21242b,
  box-icon-color: #bdbdbd,
  box-icon-size: 44px,
  box-title-color: #3a2e38,
  box-title-size: 15px,
  box-sub-title-color: #b1b1b1,
  box-sub-title-size: 11px,
  do_not_disturb-color: #ef494b,

 );

 // Merge settings and defaults
 $c-narrow-col-status-feeback: map-merge($c-narrow-col-status-feeback, getSettingsMap("c-narrow-col-status-feeback"));

 // Set shortcuts
 $c-map: $c-narrow-col-status-feeback;


.c-narrow-col-status-feeback {
  display: block;
  padding: map-get($c-map, box-padding);
  background-color: map-get($c-map, box-bg);
  color: map-get($c-map, box-text-color);
  border: map-get($c-map, box-border-size) solid map-get($c-map, box-border-color);
  border-radius: map-get($c-map, box-border-radius);
  @include ffamily("regular");
  font-size: map-get($c-map, box-font-size);
  text-align: center;
  .c-narrow-col-status-feeback__content {
    display: block;
    line-height: map-get($c-map, box-line-height);
    i { @include ffamily("light", "i"); }
    b { @include ffamily("semi"); }
  }
  .c-narrow-col-status-feeback__icon {
    margin-bottom: 5px;
    font-size: map-get($c-map, box-icon-size);
    color: map-get($c-map, box-icon-color);
    &.icon__n--do_not_disturb {
      color: map-get($c-map, do_not_disturb-color);
      transform: scaleX(-1);
      -moz-transform: scaleX(-1);
      -webkit-transform: scaleX(-1);
      -ms-transform: scaleX(-1);
    }
  }
  .c-narrow-col-status-feeback__title {
    display: block;
    margin-bottom: 15px;
    @include ffamily("semi");
    font-size: map-get($c-map, box-title-size);
    color: map-get($c-map, box-title-color);
  }
  .c-narrow-col-status-feeback__sub-title {
    display: inline-block;
    margin: 12px 0 8px;
    @include ffamily("semi");
    font-size: map-get($c-map, box-sub-title-size);
    color: map-get($c-map, box-sub-title-color);
    text-transform: uppercase;
  }
  .c-narrow-col-status-feeback__action-link {
    display: inline-block;
    margin-top: 30px;
    @include ffamily("semi");
    color: map-get($c-map, box-action-link-color) !important;
    text-transform: uppercase;
  }
  .c-narrow-col-status-feeback__action-button {
    margin-top: 36px;
  }
}


//Reset
$c-map: null;
