/* --------------------------------------------------------
version: 1.0
last modified: 19.11.2016
author: H.Hakan
----------------------------------------------------------*/

/**
 * Primary Column Line:
 * `.c-primary-column-line` -

 *     @example
 *     .c-primary-column-line
 */

$c-primary-column-line: (
  select-width: 30px,
  avatar-width: 60px,
  avatar-size: 40px,

  primary: (
    color: #3a2e39,
    font-family: "semi",
    font-size: 13px
  ),
  secondary: (
    color: #bdbdbd,
    font-family: "regular",
    font-size: 12px,
    label-min-width: 100px
  ),

);

// Merge settings and defaults
$c-primary-column-line: map-merge($c-primary-column-line, getSettingsMap("c-primary-column-line"));

// Set shortcuts
$c-map: $c-primary-column-line;

.c-primary-column-line {
  display: inline-block;
  position: relative;

  &--with-select {
    .c-primary-column-line__secondary-content {
      padding-left: map-get($c-map, select-width);
    }
  }

  &--with-avatar {
    .c-primary-column-line__secondary-content {
      padding-left: map-get($c-map, avatar-width);
    }

    &.c-primary-column-line--with-select
    {
      .c-primary-column-line__secondary-content {
        padding-left: map-get($c-map, select-width) + map-get($c-map, avatar-width);
      }
    }
  }

  &__primary-content {
    display: table;
    width: 100%;
  }

  &__secondary-content {
    @include ffamily(map-deep-get($c-map, secondary, font-family));
    font-size: map-deep-get($c-map, secondary, font-size);
    color: map-deep-get($c-map, secondary, color);
    margin-top: 0.15em;
    line-height: 1em;

    > * {
      word-wrap: break-word;
      word-break: break-word;
    }

    >*:last-child {
      margin-bottom: 1em;
    }

    .icon__n:before {
      vertical-align: middle;
    }
  }

  &__select {
    display: table-cell;
    vertical-align: middle;
    width: map-get($c-map, select-width);
    line-height: 0px;
  }

  &__avatar {
    display: table-cell;
    vertical-align: middle;
    width: map-get($c-map, avatar-width);
    line-height: 0px;
    font-size: map-get($c-map, avatar-size);
  }

  &__title {
    display: table-cell;
    vertical-align: middle;

    color: map-deep-get($c-map, primary, color);
    @include ffamily(map-deep-get($c-map, primary, font-family));
    font-size: map-deep-get($c-map, primary, font-size);
    line-height: 1.2em;
    word-break: break-word;
    padding-right: 15px;

  }

  &__sub-title, &__sub-title-italic {
    display: block;
    @include ffamily(map-deep-get($c-map, secondary, font-family));
    font-size: map-deep-get($c-map, secondary, font-size);
    color: map-deep-get($c-map, secondary, color);
    margin-top: 0.25em;
  }

  &__sub-title-italic {
    @include ffamily("regular", "i");
  }

}

//Reset
$c-map: null;
