// -------------------------------------- //
// Notification Bar — Author: Fatih Turan //
// -------------------------------------- //
// Variables
$c-notification-bar: ( bar-height: 62px, bar-icon-size: 24px, bar-text-size: 18px, bar-close-timer-text-size: 11px, bar-close-icon-size: 24px, padding:0 48px 0 28px, bar-default-text-color: #fff, themes: ( success: ( bg: #6bba18, ), info: ( bg: #2b98f0, ), warning: ( bg: #c6c81a, ), danger: ( bg: #ec4e48, ), ));
// Merge settings and defaults
$c-notification-bar: map-merge($c-notification-bar, getSettingsMap("c-notification-bar"));
// Set shortcuts
$themes: map-get($c-notification-bar, themes);
$selected-theme: map-get($themes, success);
$c-map: $c-notification-bar;
// Basic Styles
.c-notification-bar {
    position: fixed;
    right: 0;
    bottom: 0;
    width: 100%;
    height: auto;
    @include clearfix;
    color: map-get($c-map, bar-default-text-color);
    
    &-item {
        display: table;
        position: relative;
        width: 100%;
        transform: translateY(500%);

        & + .c-notification-bar-item {
            border-top: solid 1px #fff;
        }

        &--in {
            opacity: 1;
            transform: translateY(0px);
            transition: all 1s getEase(out-sine);
        }

        &--out {
            transform: translateY(100%);
            height: 0px;
            transition: all 0.5s getEase(out-sine);
            z-index: -1;
        }

        &__inner {
            display: table-cell;
            vertical-align: middle;
        }
        &__icon,
        &__text,
        &__close-timer,
        &__close {
            position: relative;
        }
        &__icon {
            float: left;
            top: 4px;
            margin-right: 18px;
            font-size: map-get($c-map, bar-icon-size);
        }
        &__text {
            float: left;
            top: 2px;
            font-size: map-get($c-map, bar-text-size);
            @include ffamily("regular");
        }
        &__close-timer {
            float: right;
            top: 6px;
            margin-right: 30px;
            font-size: map-get($c-map, bar-close-timer-text-size);
            @include ffamily("regular", "i");
            strong {
                @include ffamily("bold", "i");
            }
        }
        &__close {
            float: right;
            top: 3px;
            font-size: map-get($c-map, bar-close-icon-size);
            color: map-get($c-map, bar-default-text-color);
            line-height: 0;
            @include transition(transform .1s ease-in);
            &:hover,
            &:focus {
                @include transform(scale(1.3));
                color: map-get($c-map, bar-default-text-color);
            }
        }

        // Success (Green)
        &--success {
            display: table;
            width: 100%;
            padding: map-get($c-map, padding);
            height: map-get($c-map, bar-height);
            $selected-theme: map-get($themes, success);
            background-color: map-get($selected-theme, bg);
        }
        // Info (Blue)
        &--info {
            display: table;
            width: 100%;
            padding: map-get($c-map, padding);
            height: map-get($c-map, bar-height);
            $selected-theme: map-get($themes, info);
            background-color: map-get($selected-theme, bg);
        }
        // Warning (Yellow)
        &--warning {
            display: table;
            width: 100%;
            padding: map-get($c-map, padding);
            height: map-get($c-map, bar-height);
            $selected-theme: map-get($themes, warning);
            background-color: map-get($selected-theme, bg);
        }
        // Danger (Red)
        &--danger {
            display: table;
            width: 100%;
            padding: map-get($c-map, padding);
            height: map-get($c-map, bar-height);
            $selected-theme: map-get($themes, danger);
            background-color: map-get($selected-theme, bg);
        }
    }
}

//Reset
$themes: null;
$selected-theme: null;
$c-map: null;