$c-venue-select-bar: (
  border-radius: 3px,

  container: (
    padding: 20px,
    border-color: #dcdce5,
    background-color: #f7f7f7,
  ),

  item: (
    color: #21242b, 
    background-color: #ffffff, 
    border-color: #dcdce5,

    margin: 10px,
    padding: 10px 20px,

    title: (
      font-size: 12px,
      color: #35383d,
    ),
    avatar: (
      font-size: 40px,
      margin: 10px,
    ),
    description: (
      color: #939393,
      font-size: 11px,
    ),
    action: (
      font-size: 24px
    )
  ),

  add-button: (
    font-size: 33.275px,
    margin: 20px
  )
);

// Merge settings and defaults
$c-venue-select-bar: map-merge($c-venue-select-bar, getSettingsMap("c-venue-select-bar"));

// Set shortcuts
$c-map: $c-venue-select-bar;

.c-venue-select-bar {
  display: inline-block;
  position: relative;
  line-height: 0px;
  font-size: 0px;
  min-width: map-deep-get($c-map, width);
  width: 100%;

  &--empty {
    .c-venue-select-bar__container {
        background-color: map-deep-get($c-map, container, background-color);
        padding: map-deep-get($c-map, container, padding)/2;
        border: 1px dashed map-deep-get($c-map, container, border-color);
        border-radius: map-deep-get($c-map, border-radius);
    }
  }

  &:hover {
    
  }

  &__container {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    //padding: map-deep-get($c-map, container, padding);
    //border: 1px solid map-deep-get($c-map, container, border-color);
  }

  &__item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding: map-deep-get($c-map, item, padding);
        background-color: map-deep-get($c-map, item, background-color);
        color: map-deep-get($c-map, item, color);
        border: solid 1px map-deep-get($c-map, item, border-color);

        &-avatar {
          display: inline-block;
          font-size: map-deep-get($c-map, item, avatar, font-size);
          margin-right: map-deep-get($c-map, item, avatar, margin);
        }

        &-title {
        @include ffamily('semi');
        font-size: map-deep-get($c-map, item, title, font-size);
        color: map-deep-get($c-map, item, title, color);
        flex: 1 0 auto;
        }

        &-description {
          @include ffamily('semi', 'i');
          font-size: map-deep-get($c-map, item, description, font-size);
          color: map-deep-get($c-map, item, description, color);
        }

        &-action {
          font-size: map-deep-get($c-map, item, action, font-size);
        }
    }

}