

// Set defaults
$c-header-large-search: (
	font-size: 22px,
	color: #9d9d9d,
	border-color: #676767,
	active-border-color: #2096F3,
  	icon-color: #bdbdbd,
);

// Merge settings and defaults
$c-header-large-search: map-merge($c-header-large-search, getSettingsMap("c-header-large-search"));
$c-map: $c-header-large-search;

// Component
.c-header-large-search {
	display: block;
	margin: auto;
	position: relative;
	width: 100%;
	height: 1em;
	font-size: map-get($c-map, font-size);
	
	.c-selectbox {
		width: 120px;
		margin-right: -0.4em;
		vertical-align: bottom;
	}
	.c-inline-search-input {
		font-size: inherit;
		display: inline-block;
		vertical-align: bottom;
		margin-left: 15px;
		width: calc(100% - 135px);
	}
	.c-inline-search-input__icon {
		color: map-get($c-map, "icon-color");
	}
}