$c-performance-capacity-search-select: (
  border-radius: 3px,

  container: (
    padding: 20px,
    border-color: #dcdce5,
    background-color: #f7f7f7,
  ),

  list: (
    
    item: (
      margin: 0px,
    )
  ),
  
  capacity-card: (
    width: 205px, min-height: 360px, height: auto, border-radius: 3px, padding: 20px, active-color: #3a2e39, background-color: #fff, border-color: #dcdce5,
    font-size: 26px, color: #2e2e2f,
    avatar: ( radius: 160px, color: #bdbdbd )
  ),

  add-button: (
    font-size: 33.275px,
    margin: 20px
  )
);

// Merge settings and defaults
$c-performance-capacity-search-select: map-merge($c-performance-capacity-search-select, getSettingsMap("c-performance-capacity-search-select"));

// Set shortcuts
$c-map: $c-performance-capacity-search-select;

.c-performance-capacity-search-select {
  display: inline-block;
  position: relative;
  line-height: 0px;
  font-size: 0px;
  min-width: map-deep-get($c-map, width);
  width: 100%;

  &__list-container {
    display: block;
    width: 100%;
    text-align: center;
  }

  &__list {
    display: inline-block;
    list-style-type: none;
    border: solid 1px map-deep-get($c-map, container, border-color);
    border-radius: 6px;
    background: #fff;
    overflow-x: auto;

    &-item {
      display: inline-block;
      vertical-align: top;
      //margin-right: -4px;
      & + .c-performance-capacity-search-select__list-item {
        border-left: dashed 1px map-deep-get($c-map, container, border-color);
      }

      &:not(:last-child) {
        cursor: pointer;
        > * {
          pointer-events: none;
        }

      }
      
      .c-card-item, .c-action-box {
        border: none !important;
      }
    }
  }

  &__capacity-card {
    display: inline-block;
    position: relative;
    width: map-deep-get($c-map, capacity-card, width);
    min-height: map-deep-get($c-map, capacity-card, min-height);
    height: map-deep-get($c-map, capacity-card, height);
    border-radius: map-deep-get($c-map, capacity-card, border-radius);
    //border: 1px solid map-deep-get($c-map, capacity-card, border-color);
    background-color: map-deep-get($c-map, capacity-card, background-color);

    &-container {
      position: absolute;
      display: flex;
      flex-direction: column;
      height: 100%;
      width: 100%;
      justify-content: center;
    }

    &-avatar {
      display: flex;
      position: relative;
      font-size: map-deep-get($c-map, capacity-card, avatar, radius);
      margin: map-deep-get($c-map, capacity-card, padding) auto map-deep-get($c-map, capacity-card, padding);
      width: 1em;
      height: 1em;
      text-align: center;
      color: map-deep-get($c-map, capacity-card, avatar, color);
      line-height: 0px;
      box-sizing: content-box;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      &--border {
          border: 2px solid map-deep-get($c-map, capacity-card, border-color);
          border-radius: map-deep-get($c-map, capacity-card, avatar, radius);
      }
      
    }

    &-capacity {
      display: flex;
      align-self: center;
      flex-direction: column;
      line-height: map-deep-get($c-map, capacity-card, font-size)/2.6;
      span {
        font-size: map-deep-get($c-map, capacity-card, font-size);
        color: map-deep-get($c-map, capacity-card, color);
        @include ffamily('bold');
      }
      small {
        font-size: map-deep-get($c-map, capacity-card, font-size)/2.6;
        color: map-deep-get($c-map, capacity-card, color);
        @include ffamily('semi');
      }
    }

    &-action {
      display: flex;
      align-self: flex-end;
      margin-top: auto;
      padding: 0px map-deep-get($c-map, capacity-card, padding) map-deep-get($c-map, capacity-card, padding);
      width: 100%;
      justify-content: center;
    }

    &-add {
      display: flex;
      flex-direction: column;
      align-items: center;
      >span {
        font-size: map-deep-get($c-map, capacity-card, font-size)/2;
        color: map-deep-get($c-map, capacity-card, color);
        @include ffamily('bold');
        line-height: map-deep-get($c-map, capacity-card, font-size);
      }
    }
  }

  &__add-button {
    display: block;
    text-align: center;
    margin-top: map-deep-get($c-map, add-button, margin);
    font-size: map-deep-get($c-map, add-button, font-size);
  }

}