// Set defaults
$o-collapsible-container: (
  aside-content-padding-y: 30px,
  aside-content-padding-x: 20px,
  aside-border-color: #dcdce5,
  aside-bg: #ffffff,
  aside-collapsep-width: 20px,
  aside-expandep-width: 240px,
  toggle-btn-height: 50px,
  toggle-btn-width: 40px,
  toggle-btn-color: #bdbdbd,
  toggle-btn-hover-color: #333,
  aside-title-color: #939393,
  aside-title-size: 11px,

  content: (
    
    placeholder: (
      space: 20px,

      header: (
        font-size: 2rem,
        padding: 20px 30px 15px,
        border-color: #e0e0e0
      ),

      container: (
        padding: 30px
      ),

      group: (
        margin-bottom: 40px,

        header: (
          border-color: #dcdce5,

          title: (
            color: #35383d,
            font-size: 15px
          )
        ),
        item: (
          margin-bottom: 20px,
        ),
      )
    )
  ),

  aside: (
    padding: 55px 10px 10px,

    placeholder: (
      space: 10px,
      
      group: (
        margin-bottom: 20px,

        header: (
          border-color: #dcdce5,

          title: (
            color: #939393,
            font-size: 11px
          )
        ),
        item: (
          margin-bottom: 10px,
        ),
        list: (
          label: (
            font-size: 13px,
            color: #333333
          )
        )
      )
    )
  )
);

// Merge settings and defaults
$o-collapsible-container: map-merge($o-collapsible-container, getSettingsMap("o-collapsible-container"));
$o-map: $o-collapsible-container;
$content: map-get($o-map, content);
$aside: map-get($o-map, aside);


.o-collapsible-container {
  display: table;
  width: 100%;
  &__content {
    display: table-cell;
    vertical-align: top;
    h1, h2, h3 {
      margin-bottom: 0px;
    }

    &__header {
      @include ffamily('light');
      font-size: map-deep-get($content, placeholder, header, font-size);
      padding: map-deep-get($content, placeholder, header, padding);

      &--border {
        border-bottom: solid 1px map-deep-get($content, placeholder, header, border-color);
      }
    }

    //placeholder

    //p-header iptal
    .p-header {
      @include ffamily('light');
      font-size: map-deep-get($content, placeholder, header, font-size);
      padding: map-deep-get($content, placeholder, header, padding);

      &--border {
        border-bottom: solid 1px map-deep-get($content, placeholder, header, border-color);
      }
    }

    .p-container {
      padding: map-deep-get($content, placeholder, container, padding);

      &--nopadding {
        padding: 0px;
      }
    }

    .p-group {
      margin-bottom: map-deep-get($content, placeholder, space)*2;

      &:last-child {
        margin-bottom: 0px;
      }

      &__header {
        display: block;
        padding-bottom: map-deep-get($content, placeholder, space);

        &--border {
          border-bottom: 1px solid map-deep-get($aside, placeholder, group, header, border-color);
          margin-bottom: map-deep-get($content, placeholder, space);
        }

        &-bar {
          display: table;
          width: 100%;
        }

        &-title {
          display: table-cell;
          vertical-align: bottom;
          width: 100%;
          @include ffamily('semi');
          font-size: map-deep-get($content, placeholder, group, header, title, font-size);
          line-height: 1em;
          color: map-deep-get($content, placeholder, group, header, title, color);
        }

        &-action {
          display: table-cell;
          vertical-align: bottom;
          line-height: 1em;
          white-space: nowrap;
        }
        
      }

      &__item {
        margin-bottom: map-deep-get($content, placeholder, space)*1.25;

        &:last-child {
          margin-bottom: 0px;
        }
      }

    }
    //box-shadow: 0px 0.25em 10px rgba(0,0,0,0.4);
  }
  &__aside {
    position: relative;
    display: table-cell;
    width: map-get($o-map, aside-collapsep-width);
    height: calc(100vh - 412px);
    background-color: map-get($o-map, aside-bg);
    border-left: 1px solid map-get($o-map, aside-border-color);
    box-shadow: 0px 0.30em 10px rgba(0,0,0,0.1);

    @include transition(width getTransition(main-menu));
    
    &--padding {
      &.o-collapsible-container__aside--expanded {
        padding: map-deep-get($aside, padding) !important;
        margin: 0px !important;

        .o-collapsible-sidebar {
          margin-top: 0px;
        }
      }
    }

    &--expanded {
      padding: map-get($o-map, aside-content-padding-y) map-get($o-map, aside-content-padding-x);
      width: map-get($o-map, aside-expandep-width);
      @include transition(width getTransition(main-menu));
      .o-collapsible-container__aside-inner {
        display: block !important;
      }
      .o-collapsible-container__toggle-btn {
        .icon-open { display: none; }
        .icon-close { display: block; }
      }
    }

    .p-group {
      margin-bottom: map-deep-get($aside, placeholder, space)*3;

      &:last-child {
        margin-bottom: 0px;
      }

      &__header {
        display: block;
        padding-bottom: map-deep-get($aside, placeholder, space)/2;

        &--border {
          border-bottom: 1px solid map-deep-get($aside, placeholder, group, header, border-color);
          margin-bottom: map-deep-get($aside, placeholder, space)/2;
        }

        &-bar {
          display: table;
          width: 100%;
        }

        &-title {
          display: table-cell;
          vertical-align: bottom;
          width: 100%;
          @include ffamily('semi');
          font-size: map-deep-get($aside, placeholder, group, header, title, font-size);
          line-height: 1em;
          color: map-deep-get($aside, placeholder, group, header, title, color);
        }

        &-action {
          display: table-cell;
          vertical-align: bottom;
          line-height: 1em;

          a {
            font-size: 0.9em;
            @include ffamily('semi');
            text-decoration: underline;
            color: map-deep-get($aside, placeholder, group, list, label, color);
          }
        }
        
      }

      &__item {
        margin-bottom: map-deep-get($aside, placeholder, space);

        &:last-child {
          margin-bottom: 0px;
        }
      }

      &__list{
        list-style: none;
        width: 100%;

        &-item {
          display: table;
          width: 100%;
          padding-top: 10px;
          padding-bottom: 10px;
          border-top: 1px solid #dcdce5;
          line-height: 1em;

          &:last-child {
            border-bottom: 1px solid #dcdce5;
          }

          &-label {
            display: table-cell;
            vertical-align: middle;
            width: 100%;
            @include ffamily('semi');
            font-size: map-deep-get($aside, placeholder, group, list, label, font-size);
            color: map-deep-get($aside, placeholder, group, list, label, color);
          }

          &-action {
            display: table-cell;
            vertical-align: middle;
            width: 60px;
            text-align: right;
          }
        }
      }

    }

    .p-form-group {
      
    }

    .o-collapsible-container__aside-inner {
      display: none;
    }

    h3, .group-title {
      margin-bottom: 10px;
      font-size: map-get($o-map, aside-title-size);
      @include ffamily("semi");
      color: map-get($o-map, aside-title-color);
      text-transform: uppercase;
    }
  }
  &__toggle-btn {
    border: 1px solid map-get($o-map, aside-border-color);
    color: map-get($o-map, toggle-btn-color);
    height: map-get($o-map, toggle-btn-height);
    width: map-get($o-map, toggle-btn-width);
    border-radius: map-get($o-map, toggle-btn-height);
    background-color: map-get($o-map, aside-bg);

    display: inline-block;
    position: absolute;
    top: 12px;
    left: -#{map-get($o-map, toggle-btn-width)};
    font-size: 21px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    text-align: center;

    i {
      display: inline-block;
      position: absolute;
      top: 50%;
      left: 50%;
      @include t--translate(#{calc(-50% + 3px)}, -50%);
    }

    &:hover {
      color: map-get($o-map, toggle-btn-hover-color);
    }

    .icon-close { display: none; }
  }
}

.o-collapsible-sidebar {
  margin-top: 20px;



  &__group {
    margin-bottom: map-deep-get($aside, placeholder, group, margin-bottom);

    &:last-child {
      margin-bottom: 0px;
    }

    &-title {
      color: #939393;
      @include ffamily('semi');
      font-size: 11px;
      padding: 4px 0px 5px;
    }

    &-item {
      display: block;
      margin-bottom:  map-deep-get($aside, placeholder, group, item, margin-bottom);

      &:last-child {
        margin-bottom: 0px;
      }
    }

    &-list{
      list-style: none;
      width: 100%;

      &-item {
        display: table;
        width: 100%;
        padding-top: 10px;
        padding-bottom: 10px;
        border-top: 1px solid #dcdce5;

        &-label {
          display: table-cell;
          vertical-align: middle;
          width: calc(100% - 60px);
          @include ffamily('semi');
          font-size: 13px;
          color: #333333;
        }

        &-action {
          display: table-cell;
          vertical-align: middle;
          width: 60px;
          text-align: right;
        }
      }
    }
  }
}


