// Set defaults
$o-list-view: ( border-color: #dcdce5, box-shadow: 0px 0.25em 10px rgba(0, 0, 0, 0.10), margin: map-get($l-list, margin), content: ( padding: 0px 20px), footer: ( padding: 20px 20px));
// Merge settings and defaults
$o-list-view: map-merge($o-list-view, getSettingsMap("o-list-view"));
$o-map: $o-list-view;
.o-list-view {
    margin: map-get($o-map, margin);
    border: 1px solid map-get($o-map, "border-color");
    border-radius: 1px;
    box-shadow: map-get($o-map, "box-shadow");
    margin-bottom: 30px;
    position: relative;
    min-height: 120px;
    //margin-top: 68px;
    &__content {
        padding: map-deep-get($o-map, content, padding);
        [ng-reflect-is-loading="true"] {
            &:after {
                content: "";
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background: rgba(255, 255, 255, 0.7);
                animation: getAnimation(zoom-in) 1s ease;
                z-index: 9999999
            }
            &:before {
                content: "";
                position: absolute;
                width: 48px;
                height: 48px;
                background-image: url('/assets/images/temp/content-loader.svg');
                transform: translate(-50%, -50%);
                left: 50%;
                top: 50%;
                z-index: 19999999;
                border-radius: 50%;
            }
        }
    }
    &__footer {
        padding: map-deep-get($o-map, footer, padding);
        border-top: solid 1px map-get($o-map, border-color);
        @include t--clearfix();
        .c-selectbox {
            min-width: 70px;
        }
        .c-pagination--main {
            float: left;
            width: 100%;
            height: auto;
            //border-top: solid 1px map-get($o-map, border-color);
            //padding-top: 20px;
            //margin-bottom: 20px;
        }
    }
}

$o-map: null;