::-webkit-scrollbar {
    -webkit-appearance: none;
    width: $global-scroll-width;
    height: $global-scroll-width;
}
::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0,0,0,.3);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.3);
}
