.c-generic-loading-box {
    width: 100%;
    height: 100%;
    display: block;
    .p-container {
        display: block;
        width: 100%;
        height: 100%;
        padding-left: 30px;
    }
}