// Border Radius Mixin

@mixin t--border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

// Top border radius
@mixin t--border-top-radius($radius) {
  border-top-left-radius: $radius;
  border-top-right-radius: $radius;
}
// Left border radius
@mixin t--border-left-radius($radius) {
  border-bottom-left-radius: $radius;
  border-top-left-radius: $radius;
}
// Bottom border radius
@mixin t--border-bottom-radius($radius) {
  border-bottom-left-radius: $radius;
  border-bottom-right-radius: $radius;
}
// Right border radius
@mixin t--border-right-radius($radius) {
  border-bottom-right-radius: $radius;
  border-top-right-radius: $radius;
}