
// Variables
$c-file-upload-box: (
	gray:#9d9d9d,
	black:#35383d,
	error-color:#ec4e48,
	success-color:#6bba18,
	fill-bg-color:#6bba18,
	font-size:13px,
	title-margin: 0 0 5px 0,
	title-font-size:13px,
	info-font-size:11px,
	info-icon-margin:0 3px 2px 0,
	info-icon-font-size:17px,
	area-padding:19px 20px 15px,
	area-border:1px dashed #e3e3ea,
	area-bg-color:#f7f7f7,
	area-border-radius:3px,
	area-icon-margin:0 4px 1px 0,
	area-icon-color:#bdbdbd,
	area-icon-font-size:24px,
	progress-bar-bg:#dcdce5,
	progress-bar-margin:10px 0 18px,
	progress-bar-height:3px,
	progress-bar-info-margin:0 0 15px 0,
	progress-bar-font-size:11px,
	progress-bar-icon-font-size:24px,
);

// Merge settings and defaults
$c-file-upload-box: map-merge($c-file-upload-box, getSettingsMap("c-file-upload-box"));

// Set shortcuts
$c-map: $c-file-upload-box;


.c-file-upload-box {
	display: block;
	box-sizing:border-box;
	&:first-child {
		.c-file-upload-box__info{margin-top:0;}
	}
	&__info {
		margin-top:30px;
		.c-file-upload-box__info-title {
			margin: map-get($c-map, title-margin);
			@include ffamily("regular");
			font-size: map-get($c-map, title-font-size);
			strong, b {@include ffamily("bold");}
		}
		.c-file-upload-box__info-description {
			margin-bottom:25px;
			@include ffamily("regular");
			font-size: map-get($c-map, info-font-size);
			color: map-get($c-map, gray);
			.icon__n {
				margin:map-get($c-map, info-icon-margin);
				font-size:map-get($c-map, info-icon-font-size);
				vertical-align:middle;
			}
		}
	}
	&__area {
		position:relative;
		min-height:62px;
		padding:map-get($c-map, area-padding);
		background-color: map-get($c-map, area-bg-color);
		border:map-get($c-map, area-border);
		border-radius:map-get($c-map, area-border-radius);
		@include ffamily("regular");
		font-size: map-get($c-map, font-size);
		strong, b {@include ffamily("bold");}
		.c-file-upload-box__area-other, .c-file-upload-box__area-other:hover {
			text-decoration:underline;
			color:map-get($c-map, black);
		}
		i {@include ffamily("regular","i");}
		.icon__n {
			margin:map-get($c-map, area-icon-margin);
			vertical-align:middle;
			font-style:normal;
			color:map-get($c-map, area-icon-color);
			font-size:map-get($c-map, area-icon-font-size);
		}
		&--file-selected {
			overflow: hidden;
			width: 100%;
			padding-right: 48px;
			@include ffamily("bold");
			white-space: nowrap;
			text-overflow: ellipsis;
			.icon__n {
				@include ffamily("bold");
				color:map-get($c-map, black);
			}
			.c-file-upload-box__area-refresh {
				position:absolute;
				top:calc(50% + 1px);
				right:12px;
				@include t--translateY(-50%);
				color:map-get($c-map, area-icon-color);
				text-decoration:none;
				a, .c-button, .promise-icon {
					color:map-get($c-map, area-icon-color);
					&:hover {color:map-get($c-map, black);}
				}
			}
		}
		&--drag-on {}
	}
	&__progress-bar-area {
		margin-top:30px;
		&--error {
			.c-file-upload-box__progress-bar-fill {background-color:map-get($c-map, error-color);}
			.c-file-upload-box__progress-bar-icon {color:map-get($c-map, error-color);}
		}
		&--success {
			.c-file-upload-box__progress-bar-fill {background-color:map-get($c-map, success-color);}
			.c-file-upload-box__progress-bar-icon {color:map-get($c-map, success-color);}
		}
	}
	&__progress-bar-title {
		position:relative;
		@include t--clearfix();
	}
	&__progress-bar-label {
		display: inline-block;
		vertical-align: middle;
		@include ffamily("semi");
		font-size: map-get($c-map, progress-bar-font-size);
		color: map-get($c-map, gray);
	}
	&__progress-bar-icon {
		float:right;
		color: map-get($c-map, gray);
		@include ffamily("regular");
		font-size:map-get($c-map, progress-bar-font-size);
		i {
			vertical-align:bottom;
			font-size:map-get($c-map, progress-bar-icon-font-size);
		}
	}
	&__progress-bar {
		position:relative;
		margin:map-get($c-map, progress-bar-margin);
		height:map-get($c-map, progress-bar-height);
		background-color:map-get($c-map, progress-bar-bg);
	}
	&__progress-bar-fill {
		position:absolute;
		top:0;
		height:100%;
		background-color:map-get($c-map, fill-bg-color);
	}
	&__progress-bar-info {
		position:relative;
		margin:map-get($c-map, progress-bar-info-margin);
		@include ffamily("regular","i");
		font-size:map-get($c-map, font-size);
		strong,b {@include ffamily("bold");} 
		p {
			display:table-cell;
			vertical-align:middle;
			width:100%;
			padding-right:20px;
		}
	}
	&__progress-bar-value {
		display:table-cell;
		vertical-align:middle;
		@include ffamily("bold");
	}
}
