/* --------------------------------------------------------
version: 1.0
author: H.Hakan
----------------------------------------------------------*/


/***
* Dialog Box Component:
*/


/**
* Dailog Box:
* `.c-auth-dialog-box - Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque repellat autem deleniti odit repellendus temporibus placeat ipsa similique, neces
*
*     @example
*			
*/

// Set defaults
$c-auth-dialog-box: ( background-color: #fff, header: ( width: 100%, padding: 0px, margin: 0px, height: 70px, border-color: #dcdce5), body: ( width: 100%, padding: 30px, margin: 0, border-color: #dcdce5, h: ( color: #392d38, font-size: 20px), p: ( color: #35383d, font-size: 12px), a: ( color: #35383d, font-size: 12px), alert: ( padding: 20px 40px, background-color: #f7f7f7, h: ( font-size: 14px), warning: ( border-color: #ec4e48, h: ( color: #ec4e48)))), footer: ( width: 100%, height: 70px, padding: 0, margin: 0, background-color: #35383d, border-color: #dcdce5, button: ( background-color: #21242b, color: #ffffff)), );
// Merge settings and defaults
$c-auth-dialog-box: map-merge($c-auth-dialog-box, getSettingsMap("c-auth-dialog-box"));
// Set shortcuts
$c-map: $c-auth-dialog-box;
.c-auth-dialog-box {
    display: block;
    background-color: map-get($c-map, background-color);
    max-width: 460px;
    margin: auto;
    width: calc(100% - 40px);
    &__header {
        display: block;
        position: relative;
        width: map-deep-get($c-map, header, width);
        height: map-deep-get($c-map, header, height);
        padding: map-deep-get($c-map, header, padding);
        margin: map-deep-get($c-map, header, margin);
        &--border {
            border-bottom: 1px solid map-deep-get($c-map, header, border-color);
        }
        img {
            display: inline-block;
            //max-height: 60%;
            width: auto;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translateX(-50%) translateY(-50%);
        }
    }
    &__body {
        display: block;
        position: relative;
        padding: map-deep-get($c-map, body, padding);
        h1,
        h2,
        h3 {
            display: block;
            margin: 0px;
            padding: 0px;
            @include ffamily('regular');
            font-size: map-deep-get($c-map, body, h, font-size);
            color: map-deep-get($c-map, body, h, color);
        }
        p {
            margin: 0px;
            padding: 0px;
            @include ffamily('regular');
            font-size: map-deep-get($c-map, body, p, font-size);
            color: map-deep-get($c-map, body, p, color);
            b {
                @include ffamily('bold');
            }
        }
        a {
            @include ffamily('regular');
            font-size: map-deep-get($c-map, body, a, font-size);
            color: map-deep-get($c-map, body, a, color);
            text-decoration: underline !important;
            cursor: pointer;
            &:hover {
                text-decoration: none !important;
            }
        }
        .alert {
            padding: map-deep-get($c-map, body, alert, padding);
            background-color: map-deep-get($c-map, body, alert, background-color);
            border: 1px solid transparent;
            border-radius: 0px;
            text-align: center;
            margin-bottom: 2em;
            h1,
            h2,
            h3 {
                margin-bottom: 10px;
                @include ffamily('bold', 'i');
                font-size: map-deep-get($c-map, body, alert, h, font-size);
            }
        }
        .alert-warning {
            border: dashed 1px map-deep-get($c-map, body, alert, warning, border-color);
            h1,
            h2,
            h3 {
                color: map-deep-get($c-map, body, alert, warning, h, color);
            }
        }
    }
    &__footer {
        display: inline-block;
        position: relative;
        width: map-deep-get($c-map, footer, width);
        height: map-deep-get($c-map, footer, height);
        margin: map-deep-get($c-map, footer, margin);
        padding: map-deep-get($c-map, footer, padding);
        background-color: map-deep-get($c-map, footer, background-color);
        text-align: center;
        &--border {
            border-top: 1px solid map-deep-get($c-map, footer, border-color);
        }
        >* {
            display: inline-block;
            vertical-align: middle;
        }
        &:before {
            content: "";
            display: inline-block;
            vertical-align: middle;
            height: 100%;
            margin-right: -4px;
        }
        button {
            background-color: map-deep-get($c-map, footer, button, background-color);
            color: map-deep-get($c-map, footer, button, color);
            border-radius: 2em;
            padding: 1em 2.5em;
            outline: none;
            &:focus,
            &:hover,
            &.active,
            &:active {
                outline: none;
                &:focus {
                    outline: none;
                }
            }
            &:hover {
                background-color: darken(map-deep-get($c-map, footer, button, background-color), 100);
            }
            &:active {
                background-color: map-deep-get($c-map, footer, button, background-color);
            }
        }
    }
}

//Reset
$c-map: null;