
$or-performance-create: ( border-color: #dcdce5, switch-bar: ( label: ( color: #373a3c, font-size: 14px, )));
$or-performance-create: map-merge($or-performance-create, getSettingsMap("or-performance-create"));
$oc-map: $or-performance-create;
.or-performance-create {
    display: block;
    &__performer-list {
        list-style-type: none;
        &-item {
            margin-bottom: 6px;
            &::last-child {
                margin-bottom: 0px;
            }
        }
    }
    &__performer-add-button {
        margin-top: 50px;
    }
    &__combo-performance {
        display: block;
        text-align: right;
    }
    &__switch-bar {
        color: map-deep-get($oc-map, switch-bar, label, color);
        font-size: map-deep-get($oc-map, switch-bar, label, font-size);
        @include ffamily('semi');
        &-label {
            padding-right: 0.5em;
        }
    }
    &__info {
        position: relative;
        border: solid 1px map-get($oc-map, border-color);
        padding: 30px 10px;
    }
    &__info-content {
        position: relative;
        width: 100%;
        max-width: 560px;
        margin: auto;
    }
}

$oc-map: null;