$c-customer-search-box: ( 
    background-color: #ffffff, border-color: #dcdce5, padding-side: 20px, 
    guest: ( background-color: #f7f7f7, border-color: #dcdce5, padding: 10px ),
    close: ( font-size: 24px, hover-color: #2985ef), 
    header: ( font-size: 20px, height: 45px, color: #392d38), 
    footer: ( border-color: #dcdce5, margin-top: 20px, height: 40px, ), 
    more-btn: ( height: 40px, font-size: 13px, color: #3a2e39, background-color: #f7f7f7));
// Merge settings and defaults
$c-customer-search-box: map-merge($c-customer-search-box, getSettingsMap("c-customer-search-box"));
// Set shortcuts
$c-map: $c-customer-search-box;
.c-customer-search-box {
    display: block;
    position: relative;
    width: 100%;
    height: auto;
    background-color: map-get($c-map, background-color);

    &__guest {
        display: table;
        width: 100%;
        background-color: map-deep-get($c-map, guest, background-color);
        border: 1px solid map-deep-get($c-map, guest, border-color);;
        border-radius: 2px;
        margin-top: 45px;
        padding: map-deep-get($c-map, guest, padding);

        &-left {
            display: table-cell;
            text-align: left;
        }

        &-right {
            display: table-cell;
            text-align: right;
        }

    }

    .c-typeahead__result-box--empty {
        display: none;
    }
}

//Reset
$c-map: null;
app-customer-search-box {}