/* --------------------------------------------------------
author: Abdullah Karadeniz
----------------------------------------------------------*/
$oc-attributes-select-add: (
	
);

$oc-attributes-select-add: map-merge($oc-attributes-select-add, getSettingsMap("oc-attributes-select-add"));
$oc-map: $oc-attributes-select-add;

.oc-attributes-select-add {
    display: block;
    
    &__overlay {
        display: flex;
        position: absolute;
        width: 100%;
        height: 80%;
        top: 0px;
        left: 0px;
        align-items: center;
        justify-content: center;
    }
}

$oc-map: null;