/* --------------------------------------------------------
author: Abdullah Karadeniz
----------------------------------------------------------*/
$oc-venue-search-select: (
	
);

$oc-venue-search-select: map-merge($oc-venue-search-select, getSettingsMap("oc-venue-search-select"));
$oc-map: $oc-venue-search-select;

.oc-venue-search-select {
    display: block;
    
    &__overlay {
        display: flex;
        position: absolute;
        width: 100%;
        height: 80%;
        top: 0px;
        left: 0px;
        align-items: center;
        justify-content: center;
    }
}

$oc-map: null;